/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Basic Styling */
nav {
  background-color: rgb(250,250,250);
  height: auto;
  font-family: verdana, calibri, arial;
  border: 1px rgb(230,230,230) solid;
  font-size: .9em;
  letter-spacing: .065em;
}

nav ul {
  text-align: center;
  padding: 0;
  list-style: none;
}


nav li {
  display: inline;
  vertical-align: center;
}

nav form {
  display: inline;
}

.font_name_text {
  font-size: .85em;
  padding: 6px 18px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.blue {
  background-color: rgb(1,142,255);
  color: rgb(250,250,250);
}

.left {
  float: left;
}

.right {
  float: right;
}
